<extend name="base:base"/>
<block name="style"></block>
<block name="main">
    <div class="container">
        <div class="row">
            <div id="content" class="col-lg-12">
                <!-- 面包屑 -->
                <div class="row">
                    <div class="col-sm-12">
                        <!-- BREADCRUMBS -->
                        <ul class="breadcrumb">
                            <li>
                                <i class="fa fa-home"></i>
                                <a href="{:U('Index/index')}">仪表盘</a>
                            </li>
                            <li>添加活动</li>
                        </ul>
                    </div>
                </div>
                <!-- /面包屑 -->
                <!-- DATA TABLES -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="box border primary">
                            <div class="box-title"></div>
                            <div class="box-body big">
                                <form class="form-horizontal" role="form" action="{:U('Activity/add')}" method="post">
                                    <input type="hidden" value="{$item['id']}" name="id">
                                    <div class="form-group">
                                        <label for="title" class="col-sm-1 control-label">标题</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="title" placeholder="请输入活动标题"
                                                   name="title" value="{$item['title']}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="num" class="col-sm-1 control-label">活动人数</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="num" placeholder="请输入活动人数"
                                                   name="num" value="{$item['num']}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">活动主题</label>
                                        <div class="col-md-10">
                                            <textarea rows="3" cols="5" name="content"
                                                      class="autosize form-control">{$item['content']}</textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">活动时间</label>
                                        <div class="col-md-10">
                                            <input type="text" name="activity_time" id="starttime"
                                                   value="{$item['activity_time']|date='Y-m-d',###}"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-1 col-sm-10">
                                            <button type="submit" class="btn btn-pink">
                                                <if condition="$item['id']">
                                                    保存
                                                    <else/>
                                                    增加
                                                </if>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /CONTENT-->
        </div>
    </div>

</block>
<block name="script">
    <script src="__PUBLIC__/Admin/plugin/laydate/laydate.js"></script>
    <script>
        jQuery(document).ready(function () {
            App.setPage("activity/post");  //Set current page
            App.init(); //Initialise plugins and elements\
        });
        laydate.render({
            elem: '#starttime'
        });
    </script>

</block>