<extend name="base:base"/>


<block name="main">
    <!-- SAMPLE BOX CONFIGURATION MODAL FORM-->
    <div class="modal fade" id="box-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Box Settings</h4>
                </div>
                <div class="modal-body">
                    Here goes box setting content.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /SAMPLE BOX CONFIGURATION MODAL FORM-->
    <div class="container">
        <div class="row">
            <div id="content" class="col-lg-12">
                <!-- PAGE HEADER-->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-header">
                            <!-- BREADCRUMBS -->
                            <ul class="breadcrumb">
                                <li>
                                    <i class="fa fa-home"></i>
                                </li>
                                <li>仪表盘</li>
                            </ul>
                            <!-- /BREADCRUMBS -->
                            <div class="clearfix">
                                <h3 class="content-title pull-left">仪表盘</h3>
                            </div>
                            <div class="description">数据管理页面</div>
                        </div>
                    </div>
                </div>
                <!-- /PAGE HEADER -->
                <!-- DASHBOARD CONTENT -->
                <div class="row">
                    <!-- COLUMN 1 -->
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="dashbox panel panel-default">
                                    <div class="panel-body">
                                        <div class="panel-left red">
                                            <i class="fa fa-instagram fa-3x"></i>
                                        </div>
                                        <div class="panel-right">
                                            <div class="number">6718</div>
                                            <div class="title">Likes</div>
                                            <span class="label label-success">
													26% <i class="fa fa-arrow-up"></i>
												</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="dashbox panel panel-default">
                                    <div class="panel-body">
                                        <div class="panel-left blue">
                                            <i class="fa fa-twitter fa-3x"></i>
                                        </div>
                                        <div class="panel-right">
                                            <div class="number">2724</div>
                                            <div class="title">Followers</div>
                                            <span class="label label-warning">
													5% <i class="fa fa-arrow-down"></i>
												</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="dashbox panel panel-default">
                                    <div class="panel-body">
                                        <div class="panel-left blue">
                                            <i class="fa fa-twitter fa-3x"></i>
                                        </div>
                                        <div class="panel-right">
                                            <div class="number">2724</div>
                                            <div class="title">Followers</div>
                                            <span class="label label-warning">
													5% <i class="fa fa-arrow-down"></i>
												</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="dashbox panel panel-default">
                                    <div class="panel-body">
                                        <div class="panel-left blue">
                                            <i class="fa fa-twitter fa-3x"></i>
                                        </div>
                                        <div class="panel-right">
                                            <div class="number">2724</div>
                                            <div class="title">Followers</div>
                                            <span class="label label-warning">
													5% <i class="fa fa-arrow-down"></i>
												</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /COLUMN 1 -->
                </div>
                <!-- /DASHBOARD CONTENT -->
                <div class="footer-tools">
                    <span class="go-top">
                        <i class="fa fa-chevron-up"></i> Top
                    </span>
                </div>
            </div><!-- /CONTENT-->
        </div>
    </div>
</block>

<block name="script">
    <script>
        jQuery(document).ready(function () {
            App.setPage("index");  //Set current page
            App.init(); //Initialise plugins and elements
        });
    </script>
</block>