<!-- HEADER -->
<header class="navbar clearfix" id="header">
    <div class="container">
        <div class="navbar-brand">
            <!-- COMPANY LOGO -->
            <a href="index.html" >
                <span style="color: #ffffff;margin-left: 50px">签到系统后台</span>
                <!--<img src="__WEBPUBLIC__/Admin/img/logo/logo.png" alt="Cloud Admin Logo" class="img-responsive" height="30" width="120">-->
            </a>
            <!-- /COMPANY LOGO -->
            <!-- TEAM STATUS FOR MOBILE -->
            <div class="visible-xs">
                <a href="#" class="team-status-toggle switcher btn dropdown-toggle">
                    <i class="fa fa-users"></i>
                </a>
            </div>
            <!-- /TEAM STATUS FOR MOBILE -->
            <!-- SIDEBAR COLLAPSE -->
            <div id="sidebar-collapse" class="sidebar-collapse btn">
                <i class="fa fa-bars"
                   data-icon1="fa fa-bars"
                   data-icon2="fa fa-bars"></i>
            </div>
            <!-- /SIDEBAR COLLAPSE -->
        </div>
        <!-- 主题 -->
        <!--<ul class="nav navbar-nav pull-left hidden-xs" id="navbar-left">-->
            <!--<li class="dropdown">-->
                <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                    <!--<i class="fa fa-cog"></i>-->
                    <!--<span class="name">主题</span>-->
                    <!--<i class="fa fa-angle-down"></i>-->
                <!--</a>-->
                <!--<ul class="dropdown-menu skins">-->
                    <!--<li class="dropdown-title">-->
                        <!--<span><i class="fa fa-leaf"></i> 系统主题</span>-->
                    <!--</li>-->
                    <!--<li><a href="#" data-skin="default">Subtle (default)</a></li>-->
                    <!--<li><a href="#" data-skin="night">Night</a></li>-->
                    <!--<li><a href="#" data-skin="earth">Earth</a></li>-->
                    <!--<li><a href="#" data-skin="utopia">Utopia</a></li>-->
                    <!--<li><a href="#" data-skin="nature">Nature</a></li>-->
                    <!--<li><a href="#" data-skin="graphite">Graphite</a></li>-->
                <!--</ul>-->
            <!--</li>-->
        <!--</ul>-->
        <!-- /主题-->
        <!-- BEGIN TOP NAVIGATION MENU -->
        <ul class="nav navbar-nav pull-right">
            <!-- BEGIN NOTIFICATION DROPDOWN -->
            <li class="dropdown" id="header-notification">
                <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                    <!--<i class="fa fa-bell"></i>-->
                    <!--<span class="badge">7</span>-->
                <!--</a>-->
                <ul class="dropdown-menu notification">
                    <li class="dropdown-title">
                        <span><i class="fa fa-bell"></i> 7 Notifications</span>
                    </li>
                    <li>
                        <a href="#">
                            <span class="label label-success"><i class="fa fa-user"></i></span>
                            <span class="body">
										<span class="message">5 users online. </span>
										<span class="time">
											<i class="fa fa-clock-o"></i>
											<span>Just now</span>
										</span>
									</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="label label-primary"><i class="fa fa-comment"></i></span>
                            <span class="body">
										<span class="message">Martin commented.</span>
										<span class="time">
											<i class="fa fa-clock-o"></i>
											<span>19 mins</span>
										</span>
									</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="label label-warning"><i class="fa fa-lock"></i></span>
                            <span class="body">
										<span class="message">DW1 server locked.</span>
										<span class="time">
											<i class="fa fa-clock-o"></i>
											<span>32 mins</span>
										</span>
									</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="label label-info"><i class="fa fa-twitter"></i></span>
                            <span class="body">
										<span class="message">Twitter connected.</span>
										<span class="time">
											<i class="fa fa-clock-o"></i>
											<span>55 mins</span>
										</span>
									</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="label label-danger"><i class="fa fa-heart"></i></span>
                            <span class="body">
										<span class="message">Jane liked. </span>
										<span class="time">
											<i class="fa fa-clock-o"></i>
											<span>2 hrs</span>
										</span>
									</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="label label-warning"><i class="fa fa-exclamation-triangle"></i></span>
                            <span class="body">
										<span class="message">Database overload.</span>
										<span class="time">
											<i class="fa fa-clock-o"></i>
											<span>6 hrs</span>
										</span>
									</span>
                        </a>
                    </li>
                    <li class="footer">
                        <a href="#">See all notifications <i class="fa fa-arrow-circle-right"></i></a>
                    </li>
                </ul>
            </li>
            <!-- END NOTIFICATION DROPDOWN -->
            <!-- BEGIN INBOX DROPDOWN -->
            <li class="dropdown" id="header-message">
                <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                    <!--<i class="fa fa-envelope"></i>-->
                    <!--<span class="badge">3</span>-->
                <!--</a>-->
                <ul class="dropdown-menu inbox">
                    <li class="dropdown-title">
                        <span><i class="fa fa-envelope-o"></i> 3 Messages</span>
                        <span class="compose pull-right tip-right" title="Compose message"><i
                                class="fa fa-pencil-square-o"></i></span>
                    </li>
                    <li>
                        <a href="#">
                            <img src="__WEBPUBLIC__/Admin/img/avatars/avatar2.jpg" alt=""/>
                            <span class="body">
										<span class="from">Jane Doe</span>
										<span class="message">
										Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse mole ...
										</span>
										<span class="time">
											<i class="fa fa-clock-o"></i>
											<span>Just Now</span>
										</span>
									</span>

                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="__WEBPUBLIC__/Admin/img/avatars/avatar1.jpg" alt=""/>
                            <span class="body">
										<span class="from">Vince Pelt</span>
										<span class="message">
										Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse mole ...
										</span>
										<span class="time">
											<i class="fa fa-clock-o"></i>
											<span>15 min ago</span>
										</span>
									</span>

                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="__WEBPUBLIC__/Admin/img/avatars/avatar8.jpg" alt=""/>
                            <span class="body">
										<span class="from">Debby Doe</span>
										<span class="message">
										Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse mole ...
										</span>
										<span class="time">
											<i class="fa fa-clock-o"></i>
											<span>2 hours ago</span>
										</span>
									</span>

                        </a>
                    </li>
                    <li class="footer">
                        <a href="#">See all messages <i class="fa fa-arrow-circle-right"></i></a>
                    </li>
                </ul>
            </li>
            <!-- END INBOX DROPDOWN -->

            <!-- BEGIN USER LOGIN DROPDOWN -->
            <li class="dropdown user" id="header-user" style="float: right;margin-right: 11px;">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img alt="" src="__WEBPUBLIC__/Admin/img/avatars/avatar3.jpg"/>
                    <span class="username">{$admin_account['account']}</span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu">
                    <!--<li><a href="#"><i class="fa fa-user"></i> My Profile</a></li>-->
                    <!--<li><a href="#"><i class="fa fa-cog"></i> Account Settings</a></li>-->
                    <!--<li><a href="#"><i class="fa fa-eye"></i> Privacy Settings</a></li>-->
                    <li><a href="{:U('Login/logout')}"><i class="fa fa-power-off"></i> 退出登录</a></li>
                </ul>
            </li>
            <!-- END USER LOGIN DROPDOWN -->
        </ul>
        <!-- END TOP NAVIGATION MENU -->
    </div>
</header>
<!--/HEADER -->

<!-- PAGE -->
<section id="page">
    <!--// 导航相关-->
    <div id="sidebar" class="sidebar">
        <div class="sidebar-menu nav-collapse">
            <div class="divide-20"></div>
            <!-- 搜索 -->
            <div id="search-bar">
                <!--<input class="search" type="text" placeholder="Search"><i class="fa fa-search search-icon"></i>-->
            </div>
            <!-- /搜索 -->

            <!-- 目录 -->
            <ul>
                <!--// 仪表盘-->
                <li <if condition="$thisUrl == 'Index/index'">class="active"</if> >
                    <a href="{:U('Index/index')}">
                        <i class="fa fa-tachometer fa-fw"></i> <span class="menu-text">仪表盘</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <!--// 活动管理-->
                <li <if condition="$thisUrl == 'Activity/index'">class="active"</if> >
                    <a class="" href="{:U('Activity/index')}">
                        <i class="fa fa-desktop fa-fw"></i>
                        <span class="menu-text">活动管理</span>
                    </a>
                </li>
                <!--<li class="has-sub">-->
                    <!--<a href="javascript:;" class="">-->
                        <!--<i class="fa fa-bookmark-o fa-fw"></i> <span class="menu-text">系统管理</span>-->
                        <!--<span class="arrow"></span>-->
                    <!--</a>-->
                    <!--<ul class="sub">-->
                        <!--<li><a class="" href="elements.html"><span class="sub-menu-text">Elements</span></a></li>-->
                        <!--<li><a class="" href="notifications.html"><span-->
                                <!--class="sub-menu-text">Hubspot Notifications</span></a></li>-->
                        <!--<li><a class="" href="buttons_icons.html"><span class="sub-menu-text">Buttons & Icons</span></a>-->
                        <!--</li>-->
                        <!--<li><a class="" href="sliders_progress.html"><span-->
                                <!--class="sub-menu-text">Sliders & Progress</span></a></li>-->
                        <!--<li><a class="" href="typography.html"><span class="sub-menu-text">Typography</span></a></li>-->
                        <!--<li><a class="" href="tabs_accordions.html"><span class="sub-menu-text">Tabs & Accordions</span></a>-->
                        <!--</li>-->
                        <!--<li><a class="" href="treeview.html"><span class="sub-menu-text">Treeview</span></a></li>-->
                        <!--<li><a class="" href="nestable_lists.html"><span class="sub-menu-text">Nestable Lists</span></a>-->
                        <!--</li>-->
                        <!--<li class="has-sub-sub">-->
                            <!--<a href="javascript:;" class=""><span class="sub-menu-text">Third Level Menu</span>-->
                                <!--<span class="arrow"></span>-->
                            <!--</a>-->
                            <!--<ul class="sub-sub">-->
                                <!--<li><a class="" href="#"><span class="sub-sub-menu-text">Item 1</span></a></li>-->
                                <!--<li><a class="" href="#"><span class="sub-sub-menu-text">Item 2</span></a></li>-->
                            <!--</ul>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->
            </ul>
            <!-- 目录 -->
        </div>
    </div>
    <div id="main-content">
        <!--// 项目主体-->
        <block name="main"></block>
    </div>
</section>
