<extend name="base:base"/>

<block name="style">
</block>

<block name="main">
    <div class="container">
        <div class="row">
            <div id="content" class="col-lg-12">
                <!-- 面包屑 -->
                <div class="row">
                    <div class="col-sm-12">
                        <!-- BREADCRUMBS -->
                        <ul class="breadcrumb">
                            <li>
                                <i class="fa fa-home"></i>
                                <a href="{:U('Index/index')}">仪表盘</a>
                            </li>
                            <li><span style="color: #ff5154">{$activity['title']}</span>嘉宾管理</li>
                        </ul>
                    </div>
                </div>
                <!-- /面包屑 -->
                <!-- DATA TABLES -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- BOX -->
                        <div class="box border primary">
                            <div class="box-title">
                                <h4><i class="fa fa-table"></i>{$activity['title']}</span>嘉宾管理</h4>
                                <div class="tools hidden-xs">
                                    <!--// 添加-->
                                    <a href="javascript:;" class="add" goUrl="{:U('Guest/add',array('a_id'=>$activity_id))}">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                    <!-- // 刷新 -->
                                    <a href="javascript:;" class="reload">
                                        <i class="fa fa-refresh"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="box-body">
                                <table id="datatable1" cellpadding="0" cellspacing="0" border="0"
                                       class="datatable table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>嘉宾名称</th>
                                        <th>会议主题</th>
                                        <th>会议地点</th>
                                        <th>会议时间</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <volist name="list" id="item">
                                        <tr class="gradeA">
                                            <td>{$item['name']}</td>
                                            <td>{$item['title']}</td>
                                            <td>{$item['address']}</td>
                                            <td>{$item['time']}</td>
                                            <td class="center">

                                                <a href="{:U('Guest/edit',array('id'=>$item['id']))}" class="tip" data-original-title="修改">
                                                    <i class="fa fa-pencil"></i>
                                                </a>&nbsp;
                                                <a href="javascript:;" class="tip" data-original-title="删除" gourl="{:U('Guest/delete',array('id'=>$item['id']))}">
                                                    <i class="fa fa-trash-o"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </volist>

                                    </tfoot>
                                </table>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="pull-left">
                                            <div class="dataTables_info" id="datatable1_info">共有{$count}条数据
                                            </div>
                                        </div>
                                        <div class="pull-right">
                                            {$page}
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /BOX -->
                    </div>
                </div>
                <!-- /DATA TABLES -->
                <div class="footer-tools">
                    <span class="go-top">
                        <i class="fa fa-chevron-up"></i> Top
                    </span>
                </div>
            </div><!-- /CONTENT-->
        </div>
    </div>
</block>

<block name="script">
    <script>
        jQuery(document).ready(function () {
            App.setPage("Guest/index");  //Set current page
            App.init(); //Initialise plugins and elements
        });
    </script>


</block>