<extend name="base:base"/>
<block name="style"></block>
<block name="main">
    <div class="container">
        <div class="row">
            <div id="content" class="col-lg-12">
                <!-- 面包屑 -->
                <div class="row">
                    <div class="col-sm-12">
                        <!-- BREADCRUMBS -->
                        <ul class="breadcrumb">
                            <li>
                                <i class="fa fa-home"></i>
                                <a href="{:U('Index/index')}">仪表盘</a>
                            </li>
                            <li>添加嘉宾</li>
                        </ul>
                    </div>
                </div>
                <!-- /面包屑 -->
                <!-- DATA TABLES -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="box border primary">
                            <div class="box-title"></div>
                            <div class="box-body big">
                                <form class="form-horizontal" role="form" action="{:U('Guest/add')}" method="post" enctype="multipart/form-data">
                                    <input type="hidden" value="{$_GET['a_id']}" name="a_id">
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">嘉宾名称</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="name" placeholder=""
                                                   name="name" value="{$item['name']}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">会议标题</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="title" placeholder="" name="title" value="{$item['title']}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">地点</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" name="address" id="address" value="{$item['address']}"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">时间</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" name="time" id="time"
                                                   value="{$item['time']}"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">嘉宾头像</label>
                                        <div class="col-md-10">
                                            <input type="file" name="img" />
                                            <if condition="!empty($item['img'])">
                                                <img src="{$item['img']}" alt="">
                                            </if>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-1 col-sm-10">
                                            <button type="submit" class="btn btn-pink">
                                                <if condition="$item['id']">
                                                    保存
                                                    <else/>
                                                    增加
                                                </if>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /CONTENT-->
        </div>
    </div>

</block>
<block name="script">
    <script>
        jQuery(document).ready(function () {
            App.setPage("guest/post");  //Set current page
            App.init(); //Initialise plugins and elements\
        });
    </script>

</block>