body {
    background: url("../bg.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height:100%;
    width:100%;
    overflow: hidden;
    background-size:cover;
}

