input {
    border: none;
    outline: none;
    -webkit-appearance: none;
}

body {
    background: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    font-size: 62.5%;
}

form {
    width: 100%;
    text-align: center;
    display: block;
    margin-top: 17rem;
}

.inputStyle {
    display: block;
    width: 69%;
    height: 4rem;
    border-bottom: 1px solid #CCCCCC;
    padding-left: 1.5rem;
    margin: auto;
    font-size: 1rem;
}

.inputStyle_phone {
    background: url("../img/phone.png");
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position: left;
}

.inputStyle_name {
    background: url("../img/user.png");
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position: left;
}

.inputBtn {
    background-image: linear-gradient(-90deg,
    #ff6b33 0%,
    #ffc90b 100%),
    linear-gradient(90deg,
            #1228f6 0%,
            #337bff 60%,
            #33b0ff 100%);
    box-shadow: 0rem 0.3rem 0.3rem 0rem rgba(51, 145, 255, 0.2);
    border-radius: 3rem;

    display: block;
    margin: auto;
    border: none;
    border-radius: 2rem;
    width: 60%;
    height: 3rem;
    margin-top: 5rem;
    color: #ffffff;
    font-size: 1rem;

}