body {
    background: url("../img/bg1.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    font-size: 62.5%;
}

.show-info {
    width: 80%;
    margin: auto;
    margin-top: 15rem;
}

.show-info_welcome {
    font-family: AdobeHeitiStd-Regular;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 3rem;
    letter-spacing: 0rem;
    color: #000000;
    line-height: 1.5rem;
}

.show-info_name {
    font-family: AdobeHeitiStd-Regular;
    font-size: 1.5rem;
    font-weight: normal;
    letter-spacing: 0rem;
    color: #cd5716;
}

.show-info_table {
    border-bottom: 1px solid #000000;
}

.show-info_schedule {
    margin: 0.5rem auto 0;
    text-align: center;
}

.show-info_schedule { position: relative; z-index: 2; font-size: 16px; line-height: 24px; text-align: center; color: #999; overflow: hidden; }
.show-info_schedule .caption { position: relative; display: inline-block; }
.show-info_schedule .caption .line { position: absolute; top: 11px; width: 81%; height: 1px; background-color: #ddd; }
.show-info_schedule .caption .line-l { right: 100%; margin-right: 15px; }
.show-info_schedule .caption .line-r { left: 100%; margin-left: 15px; }

.show-info_teacher{
    width: 100%;
    height: 10.6rem;
    background: rgba(204, 204, 204, 0.43);
    margin-top: 0.5rem;
}