<extend name="base:base"/>

<block name="style">

</block>

<block name="main">
    <div class="container">
        <div class="row">
            <div id="content" class="col-lg-12">
                <!-- 面包屑 -->
                <div class="row">
                    <div class="col-sm-12">
                        <!-- BREADCRUMBS -->
                        <ul class="breadcrumb">
                            <li>
                                <i class="fa fa-home"></i>
                                <a href="{:U('Index/index')}">仪表盘</a>
                            </li>
                            <li><span style="color: #ff5154">{$activity['title']}</span>人员管理</li>
                        </ul>
                    </div>
                </div>
                <!-- /面包屑 -->
                <!-- DATA TABLES -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- BOX -->
                        <div class="box border primary">
                            <div class="box-title">
                                <h4><i class="fa fa-table"></i>{$activity['title']}</span>人员管理</h4>
                                <div class="tools hidden-xs">
                                    <!--// 添加-->
                                    <a href="javascript:;" class="add" goUrl="{:U('Member/upload',array('a_id'=>$activity_id))}">
                                        <i class="fa fa-upload"></i>
                                    </a>
                                    <!-- // 刷新 -->
                                    <a href="javascript:;" class="reload">
                                        <i class="fa fa-refresh"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="box-body">
                                <table id="datatable1" cellpadding="0" cellspacing="0" border="0"
                                       class="datatable table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>桌号</th>
                                        <th>姓名</th>
                                        <th>联系方式</th>
                                        <th>服务商</th>
                                        <th>公司名称</th>
                                        <th>到场</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <volist name="list" id="item">
                                        <tr class="gradeA">
                                            <td>{$item['dask_number']}</td>
                                            <td>{$item['name']}</td>
                                            <td>{$item['phone']}</td>
                                            <td>{$item['provider']}</td>
                                            <td>{$item['company']}</td>
                                            <td>{$item['status']==0?'<span style="color: red">待入场</span>':'<span style="color: green">已审核</span>'}</td>
                                        </tr>
                                    </volist>

                                    </tfoot>
                                </table>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="pull-left">
                                            <div class="dataTables_info" id="datatable1_info">共有{$count}条数据
                                            </div>
                                        </div>
                                        <div class="pull-right">
                                            {$page}
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /BOX -->
                    </div>
                </div>
                <!-- /DATA TABLES -->
                <div class="footer-tools">
                    <span class="go-top">
                        <i class="fa fa-chevron-up"></i> Top
                    </span>
                </div>
            </div><!-- /CONTENT-->
        </div>
    </div>
</block>
<block name="script">
    <script>
        jQuery(document).ready(function () {
            App.setPage("member/index");  //Set current page
            App.init(); //Initialise plugins and elements
        });
    </script>


</block>
