<extend name="base:base"/>
<block name="style">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/js/dropzone/dropzone.min.css" />
</block>
<block name="main">
    <div class="container">
        <div class="row">
            <div id="content" class="col-lg-12">
                <!-- 面包屑 -->
                <div class="row">
                    <div class="col-sm-12">
                        <!-- BREADCRUMBS -->
                        <ul class="breadcrumb">
                            <li>
                                <i class="fa fa-home"></i>
                                <a href="{:U('Index/index')}">仪表盘</a>
                            </li>
                            <li>添加活动</li>
                        </ul>
                    </div>
                </div>
                <!-- /面包屑 -->
                <!-- DATA TABLES -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="box border primary">
                            <div class="box-title"></div>
                            <div class="box-body big">
                                <form class="form-horizontal" role="form" action="{:U('Member/doupLoad')}" method="post" enctype="multipart/form-data">
                                    <input type="hidden" value="{$activity_id}" name="a_id">
                                    <div class="form-group">
                                        <label for="" class="col-sm-1 control-label">文件</label>
                                        <div class="col-sm-10">
                                            <input type="file" name="excel" />
                                            <div class="help-block" >点击下载示例文件 <a href="__PUBLIC__/参会人员名单样例.xlsx">点击下载</a> </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-1 col-sm-10">
                                            <button type="submit" class="btn btn-pink">
                                                上传
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /CONTENT-->
        </div>
    </div>

</block>
<block name="script">
    <script type="text/javascript" src="__PUBLIC__/Admin/js/dropzone/dropzone.min.js"></script>
    <script>
        jQuery(document).ready(function () {
            App.setPage("member/upload");  //Set current page
            App.init(); //Initialise plugins and elements\
        });
    </script>

</block>